
@{
    ViewBag.Title = "Saberes";
}

<h2>@ViewBag.Title</h2>


<table class="table table-hover table-bordered">
    <thead class="thead-light">
        <tr>
            <th>Código</th>
            <th>Descripción</th>
            <th style=" white-space: nowrap">Nivel de logro</th>
            <th><button type="button" data-toggle="modal" data-target="#modalAdd" class="btn btn-success btn-sm" style="float:right"><i class="fa fa-plus"></i> Añadir</button></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td style="text-align:center">1</td>
            <td style="text-align:justify">Repellat cupiditate corporis explicabo impedit dolores. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum illo corrupti delectus sit, dolore molestiae adipisci. Facilis, temporibus. Amet, possimus. Quos neque accusamus iure animi tempora, mollitia facere quam similique!</td>
            <td>Saber Hacer</td>
            <td style="vertical-align: middle; white-space: nowrap">
                <button type="button" data-toggle="modal" data-target="#modalEdit" class="btn btn-warning btn-sm"><i class="fa fa-edit"></i> Modificar</button>
                <button type="button" data-toggle="modal" data-target="#modalDisable" class="btn btn-danger btn-sm"><i class="fa fa-eye-slash"></i> Deshabilitar</button>
            </td>
        </tr>
        <tr>
            <td style="text-align:center">2</td>
            <td style="text-align:justify">Exercitationem repellat harum vel distinctio esse labore eaque. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate ipsa ea dolorem quae consectetur vitae nihil in, recusandae delectus non animi unde qui tenetur temporibus odio dicta libero! Quae, sed.</td>
            <td>Saber Ser</td>
            <td style="vertical-align: middle; white-space: nowrap">
                <button type="button" class="btn btn-warning btn-sm" data-toggle="modal" data-target="#modalEdit"><i class="fa fa-edit"></i> Modificar</button>
                <button type="button" data-toggle="modal" data-target="#modalDisable" class="btn btn-danger btn-sm"><i class="fa fa-eye-slash"></i> Deshabilitar</button>
            </td>
        </tr>
    </tbody>
    
</table>


<div class="modal fade" id="modalAdd" tabindex="-1" role="dialog" aria-labelledby="modalAddLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalAddLabel">Añadir</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            
            <div class="modal-body">

                <form>
                    <div class="form-group">
                        <label for="inputCodigo">Código</label>
                        <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="">
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlSelect1">Nivel de logro</label>
                        <select class="form-control" id="exampleFormControlSelect1">
                            <option>Saber</option>
                            <option>Saber Hacer</option>
                            <option>Saber Ser</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlTextarea1">Descripción</label>
                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary">Añadir</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalEdit" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Editar</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <div class="form-group">
                    <label for="inputCodigo">Código</label>
                    <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="">
                    </div>
                    <label for="dropboxCategoria">Nivel de logro</label>
                    <select class="form-control" id="exampleFormControlSelect1">
                        <option>Saber</option>
                        <option>Saber Hacer</option>
                        <option>Saber Ser</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="inputDescripcion">Descripcion</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary">Modificar</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalDisable" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Dehabilitar</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                ¿Esta seguro de deshabilitar este Saber?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary">Deshabilitar</button>
            </div>
        </div>
    </div>
</div>