<div class="modal fade" id="modalEdit" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Editar</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            @using (Html.BeginForm("Editar", "Aprendizajes"))
            {
                <div class="modal-body">

                    <div class="form-group">
                        <label for="editcod">Código:</label>
                        <input id="editcod" maxlength="255" type="text" min="0" class="form-control" name="Codigo" value="" required>
                    </div>

                    <div class="form-group">
                        <label for="editcat">Categoría:</label>
                        <input id="editcat" maxlength="255" type="text" min="0" class="form-control" name="Categoria" value="" required>
                    </div>

                    <div class="form-group">
                        <label for="editsubcat">Subcategoría:</label>
                        <input id="editsubcat" maxlength="255" type="text" min="0" class="form-control" name="Subcategoria" value="" required>
                    </div>

                    <div class="form-group">
                        <label for="editdesc">Descripción:</label>
                        <textarea id="editdesc" class="form-control" name="Descripcion" value="" rows="3"  required></textarea>

                    </div>

                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Modificar</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                </div>
            }
        </div>
    </div>
</div>