@using SaberesSyllabus.Repositories
@using SaberesySoluciones.Models
<div class="modal fade" id="modalEditApren" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modificar Aprendizaje</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            @using (Html.BeginForm("EditarAprendizaje", "Aprendizajes"))
            {
                <div class="modal-body">
                    
                    @{
                        List<Categoria> cats = Aprendizajes.LeerCategorias();
                    }
                    <div class="form-group">
                        <select class="form-control" id="Aprendizajes" name="Aprendizajes" onchange="catselected()" required>
                            @foreach (Categoria c in cats)
                            {
                                <option value="@c.Nombre">@c.Nombre</option>
                            }
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="editdesc">Descripción:</label>
                        <textarea id="editdesc" class="form-control" name="Descripcion" value="" rows="3" required></textarea>

                    </div>

                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Modificar</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                </div>
            }
        </div>
    </div>
</div>

<script type="text/javascript">
    editApren = function (cod, desc) {
        document.getElementById("editaprencod").setAttribute("value", cod);
        document.getElementById("editaprendesc").setAttribute("value", desc);
    }

    catselected()
    {
        document.getElementById("Aprendizajes").getAttribute();
    }
</script>