
@{
    ViewBag.Title = "Aprendizajes";
}

<h2>@ViewBag.Title</h2>

<a class="btn btn-primary" style="margin-bottom:10px">Agregar</a>



<table class="table table-hover ">
    <tr>
        <th>Código</th>
        <th>Categoría</th>
        <th>Descripción</th>
        <th></th>
        <th></th>
    </tr>
    <tr>
        <td style="text-align:center">1</td>
        <td>Habilidades blandas</td>
        <td style="text-align:justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis nihil enim tenetur, provident vitae modi perferendis, temporibus quam perspiciatis minus praesentium ab ullam non. Repellat cupiditate corporis explicabo impedit dolores. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum illo corrupti delectus sit, dolore molestiae adipisci. Facilis, temporibus. Amet, possimus. Quos neque accusamus iure animi tempora, mollitia facere quam similique!</td>
        <td style="vertical-align: middle">
            <a class="btn btn-warning ">Modificar</a>
        </td>
        <td style="vertical-align: middle">
            <a class="btn btn-danger">Eliminar</a>
        </td>
    </tr>
    <tr>
        <td style="text-align:center">2</td>
        <td>Habilidades prácticas</td>
        <td style="text-align:justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati quos eaque eveniet nostrum voluptatum praesentium ad ut illum sit veritatis, mollitia, officiis. Exercitationem repellat harum vel distinctio esse labore eaque. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate ipsa ea dolorem quae consectetur vitae nihil in, recusandae delectus non animi unde qui tenetur temporibus odio dicta libero! Quae, sed.</td>
        <td style="vertical-align: middle">
            <a class="btn btn-warning">Modificar</a>
        </td>
        <td style="vertical-align: middle">
            <a class="btn btn-danger">Eliminar</a>
        </td>
    </tr>
</table>