
@{
    ViewBag.Title = "Gestión Evaluaciones";
}

<h2>@ViewBag.title</h2>

<table class="table table-hover table-bordered">
    <thead class="thead-light">
        <tr>
            <th>Código</th>
            <th>Tipo</th>
            <th style=" white-space: nowrap">Saberes</th>
            <th><button type="button" class="btn btn-success btn-sm" style="float:right"><i class="fa fa-plus"></i> Añadir</button></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td style="text-align:center">1</td>
            <td style="text-align:justify">Prueba</td>
            <td> Exercitationem repellat harum vel distinctio esse labore eaque. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate ipsa ea dolorem quae consectetur vitae nihil in, recusandae delectus non animi unde qui tenetur temporibus odio dicta libero! Quae, sed.</td>
            <td style="vertical-align: middle; white-space: nowrap">
                <button type="button" class="btn btn-warning btn-sm"><i class="fa fa-edit"></i> Modificar</button>
                <button type="button" class="btn btn-danger btn-sm"><i class="fa fa-eye-slash"></i> Deshabilitar</button>
            </td>
        </tr>
        <tr>
            <td style="text-align:center">2</td>
            <td style="text-align:justify">Tarea</td>
            <td>Exercitationem repellat harum vel distinctio esse labore eaque. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate ipsa ea dolorem quae consectetur vitae nihil in, recusandae delectus non animi unde qui tenetur temporibus odio dicta libero! Quae, sed.</td>
            <td style="vertical-align: middle; white-space: nowrap">
                <button type="button" class="btn btn-warning btn-sm"><i class="fa fa-edit"></i> Modificar</button>
                <button type="button" class="btn btn-danger btn-sm"><i class="fa fa-eye-slash"></i> Deshabiltiar</button>
            </td>
        </tr>
    </tbody>

</table>